.containerClientes{
    width: 100vw;
    height: 100vh;
    display: block;
    margin: 0;
    box-sizing: border-box;
    position: absolute;
    padding: 2rem;
}

.containerClientes form input:focus{
    border-bottom: solid 1px var(--background-primary);
    outline: 0;
}

.containerClientes form label{
    font-size: 1.4rem;
    color: var(--text);
}

.header{
    display: grid;
    grid-template-columns: 1fr 1fr 4fr;
    width: 100%;
    height: 10rem;
    align-items: center;
    text-align: center;
    padding: 2rem;
    justify-content: space-between;
}

.header img{
    width: 6rem;
    margin-left: 2rem;
}

.header button{
    width: 50%;
    justify-content: right;
    text-align: right;
    align-items: right;
    border: none;
    background: transparent;
    color: var(--text);
}

.header strong{
    font-size: 3rem;
    width: 20%;
    display: flex;
    justify-content: left;
    text-align: center;
    margin-top: 0.5rem;
    margin-left: 1rem;
}

.pesquisarClientes form button{
    width: 30%;
    height: 3rem;
    background: var(--green);
    color: var(--white);
    border: 0;
    border-radius: 0.4rem;
    cursor: pointer;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.2s;
    margin-left: 3rem;
    padding: 1rem;
}

.pesquisarClientes form button:hover{
    background: var(--green-dark);
}

.pesquisarClientes form{
    width: 100%;
    position: relative;
    display: flex;
    margin-top: 1rem;
}

.pesquisarClientes form input{
    font-size: 15px;
    line-height: 1.2;
    position: relative;
    display: block;
    width: 100%;
    height: 55px;
    background: #ebebeb;
    border-radius: 10px;
    padding: 0 35px;
    border: none;
    margin-right: 1rem;
    
}

.pesquisarClientes form input:nth-child(1){
    width: 50%;
}

.pesquisarClientes form input:nth-child(2){
    width: 30%;
}

.pesquisarClientes form input:nth-child(2){
    width: 20%;
}

.listaClientes{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    font-size: 1rem;
    text-align: center;
    margin-top: 2rem;
    background: var(--background-primary);
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    color: var(--white);
}

.dadosClientes{
    height: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    font-size: 1rem;
    text-align: center;
    align-items: center;
    margin: 0;
    background: var(--white);
    color: var(--text);
    border: 1px solid grey;
    transition: 0.1s;
}

.dadosClientes:hover{
    background: #D0CDCD;
}

.dadosClientes button{
    height: 0.5rem;
    width: 40%;
    background: var(--background-button-sucess);
    color: var(--white);
    border: 0;
    border-radius: 0.3rem;
    cursor: pointer;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.1s;
    margin-left: 3rem;
    padding: 1rem;
}

.dadosClientes button:hover{
    background: var(--background-button-dark);
}

