.navbar{
    width: 100vw;
    background: var(--background-primary);
    color: var(--white);
    padding: 0.8rem;
    display: flex;
    font-size: 1.4rem;
}

.navbar a{
    margin-right: 2rem;
    text-decoration: none;
    transition: 0.2s;
}

.navbar a:hover{
    color: var(--gray-line);
    
}