.navbar{
    width: 100vw;
    background: var(--background-primary);
    color: var(--white);
    padding: 0.8rem;
    display: flex;
    font-size: 1.2rem;
    justify-content: right;
    box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 0.2);
}

.navbar a{
    margin-right: 2rem;
    text-decoration: none;
    transition: 0.2s;
}

.navbar a:hover{
    color: var(--gray-line);
    
}

@media(max-width: 1000px){
    .navbar{
        font-size: 1rem;
    }
}

@media(max-width: 1000px){
    .navbar{
        font-size: 1rem;
    }
}

@media(max-width: 600px){
    .navbar{
        font-size: 0.8rem;
    }
}

@media(max-width: 600px){
    .navbar{
        font-size: 0.6rem;
    }
}