.header{
    display: grid;
    grid-template-columns: 3fr 4fr;
    width: 100%;
    height: 10rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    padding: 2rem;
}

.header strong{
    font-size: 3rem;
    width: 100%;
    display: flex;
    justify-content: left;
    text-align: center;
    margin-top: 0.5rem;
    margin-left: 1rem;
}

.header button{
    width: 40%;
    height: 54px;
    background: var(--green);
    color: var(--white);
    border: 0;
    border-radius: 0.6rem;
    cursor: pointer;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.2s;
    margin-left: 1rem;
    padding: 1rem;
}

.header form{
    width: 100%;
    position: relative;
    display: flex;
    margin-top: 1rem;
}

.header form input{
    font-size: 15px;
    line-height: 1.2;
    position: relative;
    display: block;
    width: 100%;
    height: 55px;
    background: #ebebeb;
    border-radius: 10px;
    padding: 0 35px;
    border: none;
    margin-right: 1rem;
    
}
