.content{
    display: flex;
}

.content main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    max-width: 100vw;
    min-width: 400px;
}

.content main section{
    display: block;
    justify-content: center;
    align-items: center;
    border-right: solid 1px gray;
    min-width: 20rem;
    max-width: 50rem;
    margin-top: 3rem;
}


.content main section label{
    display: flex;
    grid-column: 1;
    flex-direction: column;
    font-size: 1rem;
    margin-top: 1rem;
    margin-left: 3rem;
    align-items: left;
    justify-content: center;
}

.content main section img{
    width: 9rem;
    margin-left: 2rem;
    margin-top: 2rem;
    display: block;
}

.valoresTanques{
    display: flex;
    width: 100%;
}

.valores{
    margin-top: 1.2rem;
    display: block;
    align-items: left;
    justify-content: left;
    margin-right: 1rem;
    font-weight: 600;
    color: var(--background-primary);
}

.imgPlus{
    width: 2.6rem;
    display: block;
    align-items: center;
    text-align: center;
}

.buttonOpenModal{
    border: none;
    background: transparent;
}

.labelCard{
    margin-top: 1.2rem;
    display: block;
    align-items: left;
    justify-content: left;
    
}

.imgsCard{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.imgsCard p{
    font-size: 1.6rem;
    margin-right: 1rem;
    color: var(--background-primary);
}


.buttonRetirar{
    width: 100%;
    padding: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttonRetirarUva{
    width: 45%;
    height: 2rem;
    background: var(--background-primary);
    color: var(--white);
    border: 0;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.2s;
    padding: 1rem;
}

.buttonRetirarUva:hover{
    background: var(--background-primary-dark);
}

.imgStatus{
    width: 5rem;
}

@media(max-width: 1500px){
    .content main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .imgPlus{
        width: 2rem;
    }
    .imgsCard p{
        font-size: 1.6rem;

    }
}

@media(max-width: 1360px){
    .content main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .imgPlus{
        width: 2rem;
    }
    .imgsCard p{
        font-size: 1.6rem;

    }
}

@media(max-width: 1300px){
    .content main{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .imgPlus{
        width: 2rem;
    }
    .imgsCard p{
        font-size: 1.4rem;

    }
}

@media(max-width: 700px){
    .content main{
        display: grid;
        grid-template-columns: 1fr;
    }
    .content main section{
        width: 24rem;
    }
    .content main section img{
        width: 5rem;
    }
    .imgPlus{
        width: 2rem;
    }
    .imgsCard p{
        font-size: 1.2rem;

    }
}

