.overlay{
    background: rgba(242, 243, 245, 0.8);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerModal{
    background: var(--white);
    width: 100%;
    max-width: 600px;
    padding: 2rem 3rem;
    border-radius: 1.6rem;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
    align-items: left;
    justify-content: left;
}

.strongCadastrar{
    font-size: 1.8rem;
    color: var(--title);
    width: auto;
    justify-content: center;
    text-align: center;
}

.buttonFooter{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttonSalvar{
    width: 35%;
    height: 2.6rem;
    background: var(--green);
    color: var(--white);
    border: 0;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.2s;
    margin-top: 3.2rem;
    margin-left: 4rem;
}

.buttonSalvar:hover{
    background: var(--green-dark);
}

.buttonCancelar{
    width: 30%;
    height: 2.6rem;
    background: var(--red);
    color: var(--white);
    border: 0;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.2s;
    margin-top: 3.2rem;
    margin-right: 4rem;
}

.buttonCancelar:hover{
    background: var(--background-primary);
}

.formModal{
    width: 100%;
    position: relative;
    justify-content: left;
    text-align: left;
    margin-top: 2rem;
}

.formModal input{
    font-size: 15px;
    line-height: 1.2;
    position: relative;
    display: block;
    width: 100%;
    height: 50px;
    background: #ebebeb;
    border-radius: 10px;
    padding: 0 35px;
    border: none;
    color: var(--text)
}

.formModal input:focus{
    border-bottom: solid 1px var(--background-primary);
    outline: 0;
}

.labelModal{
    font-size: 0.8rem;
    color: var(--text);
    margin-left: 1rem;
}

.formModal select{
    width: 100%;
    height: 55px;
    border-radius: 0.4rem;
    background: #ebebeb;
    font-size: 1rem;
    color: var(--text);
    display: block;
    box-sizing: border-box;
    border: none;
    padding: 0 1.5rem;
    margin-top: 0.2rem;
}

.formModal select:focus{
    border-bottom: solid 1px var(--background-primary);
    outline: 0;
}

.formModal select:invalid{
    color: gray;
    font-size: 1rem;
    padding-left: 0.6rem;
}

.ruaNumero{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 1rem;
}

.ruaNumero :nth-child(1){
    width: 100%;
}

.ruaNumero :nth-child(2){
    width: 100%;
    margin-left: 2rem;
}

.ruaNumero :nth-child(3){
    width: 100%;
}
.ruaNumero :nth-child(4){
    width: 90%;
    margin-left: 1rem;
}

.telEmail{
    display: grid;
    grid-template-columns: 12.5rem 19.9rem;
    margin-top: 1rem;
}

.telEmail :nth-child(1){
    width: 100%;
}

.telEmail :nth-child(2){
    width: 100%;
}

.telEmail :nth-child(3){
    width: 85%;
}
.telEmail :nth-child(4){
    width: 95%;
}