.containerPesquisaVinhos{
    width: 100%;
}

.containerPesquisaVinhos form input:focus{
    border-bottom: solid 1px var(--background-primary);
    outline: 0;
}

.containerPesquisaVinhos form label{
    font-size: 1.4rem;
    color: var(--text);
}

.header{
    width: 100%;
    height: 10rem;
    align-items: center;
    text-align: center;
    padding: 2rem;
    justify-content: space-between;
    position: relative;
}

.header img{
    width: 6rem;
    margin-left: 2rem;
}

.strongVinhos{
    font-size: 3rem;
    width: 100%;
    display: flex;
    justify-content: left;
    text-align: center;
    margin-top: 0.5rem;
    margin-left: 1rem;
}

.pesquisarVinhos form button{
    width: 40rem;
    height: 3rem;
    background: var(--green);
    color: var(--white);
    border: 0;
    border-radius: 0.4rem;
    cursor: pointer;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.2s;
    margin-left: 3rem;
    padding: 1rem;
}

.pesquisarVinhos form button:hover{
    background: var(--green-dark);
}

.pesquisarVinhos form{
    width: 100%;
    display: flex;
    margin-top: 1rem;
}

.pesquisarVinhos form input{
    font-size: 15px;
    line-height: 0.8;
    display: block;
    width: 100%;
    height: 45px;
    background: #ebebeb;
    border-radius: 10px;
    padding: 0 35px;
    border: none;
    margin-right: 1rem;
    
}

.pesquisarVinhos form input:nth-child(1){
    width: 14rem;
}

.pesquisarVinhos form input:nth-child(2){
    width: 14rem;
}

.pesquisarVinhos form input:nth-child(3){
    width: 10rem;
}

.pesquisarVinhos form input:nth-child(4){
    width: 14rem;
}

.buttonCadastro{
    display: flex;
}

.buttonNovoCadastro{
    width: 50%;
    justify-content: right;
    text-align: right;
    align-items: right;
    border: none;
    background: transparent;
    color: var(--text);
}