.containerUva{
    width: 100vw;
    height: 100vh;
    display: block;
    margin: 0;
    overflow-x: hidden;
}

.containerUva form input:focus{
    border-bottom: solid 1px var(--background-primary);
    outline: 0;
}

.containerUva form label{
    font-size: 1.4rem;
    color: var(--text);
}