.container{
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: var(--background);
    box-sizing: border-box;
    flex-wrap: wrap;
}

.controle{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
}

.container span{
    text-align: left;
    display: flex;
    color: var(--text-title);
    font-size: 3rem;
    width: 100%;
    margin: 2rem;
}

.container section p{
    text-align: left;
    display: flex;
    font-size: 1.6rem;
    margin: 2rem 2rem;
}

.content img{
    width: 8rem;
}

.container section{
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 5rem;
}

.content{
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}

.uva {
    margin-right: 2rem;
}

.tanque {
    margin-right: 2rem;
}

.cliente {
    margin-right: 2rem;
}

.uva button{
    width: 100%;
    height: 2.6rem;
    background: var(--background-primary);
    color: var(--white);
    border: 0;
    border-radius: 1.25rem;
    cursor: pointer;
    font-size: 1.2rem;
    display: flexbox;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.2s;
    margin-top: 2.2rem;
    box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 0.2);
}

.uva button:hover{
    background: var(--background-primary-dark);
}

.tanque button{
    width: 100%;
    height: 2.6rem;
    background: var(--background-primary);
    color: var(--white);
    border: 0;
    border-radius: 1.25rem;
    cursor: pointer;
    font-size: 1.2rem;
    display: flexbox;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.2s;
    margin-top: 2.2rem; 
    box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 0.2);
}

.tanque button:hover{
    background: var(--background-primary-dark);
}

.cliente button{
    width: 100%;
    height: 2.6rem;
    background: var(--background-primary);
    color: var(--white);
    border: 0;
    border-radius: 1.25rem;
    cursor: pointer;
    font-size: 1.2rem;
    display: flexbox;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.2s;
    margin-top: 2.2rem; 
    box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 0.2);
}

.cliente button:hover{
    background: var(--background-primary-dark);
}