.containerTanque{
    max-width: 100%;
    margin: 0;
    overflow-x: hidden;
}

.containerTanque form input:focus{
    border-bottom: solid 1px var(--background-primary);
    outline: 0;
}

.containerTanque form label{
    font-size: 1.4rem;
    color: var(--text);
}

.tanques{
    display: grid;
    grid-template-columns: 27rem 27rem 27rem;
    margin: auto;
    align-items: center;
    justify-content: center;
}

@media(max-width: 1900px){
    .tanques{
        width: 100vw;
        justify-content: center;
    }
}

@media(max-width: 1200px){
    .tanques{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 760px){
    .tanques{
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 8rem;
    }
}
@media(max-width: 480px){
    .tanques{
        margin: 0;
    }
}

